//xs-0.5
//normal - 1
//sm - 1.5
//md - 2
//lg - 3
//xlg - 5
//xxlg - 7
.questions {
  width: 80%;
  margin: 3rem auto 0 auto;
  padding: 1.5rem 2rem;

  h5 {
    color: white;
    text-shadow: 2px 2px 7px black;
    font-size: 30px;
    margin-bottom:5px;
    margin-top: 30px;
    line-height: 1.5;
    text-align:left;
  }

  .options-container {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .options {
    background-color: midnightblue;
    border-radius: 30px;
    text-shadow: 2px 2px 7px black;
    color: white;
    cursor: pointer;
    margin: 1rem auto;
    padding: 1rem;
    transition: 0.3s linear all;
    text-align: center;
    width: 90%;
    font-size: 20px;
  }

  .options:hover {
    background-color: darken(midnightblue,20%);

  }
}
.selected {
  background: darkgoldenrod !important;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  //margin: 0 auto 0.5rem auto;
  padding: 4rem;
  width: 50%;
  margin-right: 20%;
  margin-left: 20%;
}

.button-container button {
  border: none;
  color: white;
  cursor: pointer;
  //margin-right: 85%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0.5rem 1.5rem;

}

.finalHeading {
  color: white;
  text-shadow: 2px 2px 7px black;
  text-align: center;
}

.finalPara {
  color: white;
  text-shadow: 2px 2px 7px black;
  text-align: left;
  margin-left: 32%;

}

#quit {
  cursor: pointer;
  padding-bottom: 1rem;
  text-align: center;
  width: 50%;
  margin-left: 25%;

}
.image{
  margin-left: 40%;
}