//xs-0.5
//normal - 1
//sm - 1.5
//md - 2
//lg - 3
//xlg - 5
//xxlg - 7
.questions {
  background-color: antiquewhite;
  border-left: 10px solid lightblue;
  width: 80%;
  margin: 3rem auto 0 auto;
  padding: 1.5rem 2rem;

  h5 {
    font-size: 1.5rem;
    margin-bottom: fill;
    line-height: 1.5;
    text-align:left;
    font-weight: bold;

  }

  .options-container {
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .options {
    background-color: cadetblue;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    margin: 1rem auto;
    padding: 1rem;
    transition: 0.3s linear all;
    text-align: center;
    width: 90%;
    font-weight: bold;
  }

  .options:hover {
    background-color: darken(blue,20%);

  }
}
.selected {
  background: yellow !important;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  //margin: 0 auto 0.5rem auto;
  padding: 1rem;
  width: 50%;
  margin-right: 20%;
  margin-left: 20%;
}

.button-container button {
  border: none;
  color: white;
  cursor: pointer;
  font-family: $quicksand;
  //margin-right: 85%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 0.5rem 1.5rem;

}
.button-container button:first-child {
   background-color: darken(blue,10%);
  box-shadow: $shadow;

  transition: 0.2s linear all;
}
.button-container button:first-child {
  background-color: darken(blue, 20%);

}
//
.button-container button:nth-child(2) {
  background-color: darken(green,10%);
  box-shadow: $shadow;
  transition: 0.2s linear all;

}
.button-container button:nth-child(2) {
  background-color: darken(lightgreen, 50%);
}

.finalHeading {
  font-weight: bold;
  text-align: center;
}

.finalPara {
  font-weight: bold;
  text-align: left;
  margin-left: 5px;
}

.rightButton {
  background-color: red;
  border-radius: 30px;
  color: black;
  cursor: pointer;

  padding: 1rem;
  transition: 0.3s linear all;
  text-align: center;
  width: 70%;
  font-weight: bold;
  margin-left: 15%;
  margin-right: 15%;
}