#lead  {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
    font-weight: bold;
  }

#subheader , h3{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 10px black;
    font-weight: bold;
}
