body {
  background-image: url("../../assests/classroom1.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
  height: 100vh;
}

h1 {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
}
#p1 {
  font-size: 30px;
  margin-top: 50px;
  text-shadow: 2px 2px 3px black;

  color: white;
  text-align: left;
}
#p2 {
  margin-top: -70px;
  font-size: 30px;
  text-shadow: 2px 2px 3px black;

  color: white;
  text-align: left;
}

.left {
  display: block;
  color: white;
  font-weight: bold;
  margin-bottom:50px;
  text-decoration: none;
}

.right {
  color: white;
  font-weight: bold;
  margin-bottom:50px;
  text-decoration: none;
}
